/* ----------------------------------------General */
body {
    font-family: 'Open Sans', sans-serif;
}

.section-header {
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    margin-bottom: 0;
    padding: 40px 0 40px 0;
}

#about-info, #gym-offers, #membership-options, #sign-up-form  {
    background-color:#ECECEC;
    padding-bottom: 30px;
    margin-bottom: 10px;
}

/* ----------------------------------------Header */

.navbar-dark .navbar-nav .active .nav-link {
    color: #ffc000;
}

.navbar-dark .navbar-nav .nav-link {
    text-transform: uppercase;
    color: #ca9903;
}

.navbar-dark .navbar-nav .nav-item a:hover {
    color: #ffc000;
}



/* ToDo:
    fix the bug with nav items selection 
 */

.navbar-brand {
    height:50px;
    width:140px;
}

/* ----------------------------------------Home page image */

.jumbotron {
    background: url('../images/home-page-image.jpg') no-repeat  center center;
    background-size: 100% 100%;
    opacity: 0.9;
    height: 100vh;
    color: #fff;
    margin-bottom: 0;
    /* add fadeout effect */
}

/* ----------------------------------------About Us Section */

#about-info p {
    text-align: justify;
    margin: 0;
}

/* ToDo: 
style About Us paragraph */

/* ----------------------------------------Gym Offers Section */

/* ToDo: 
style paragraphs */

/* ----------------------------------------Membership Options Section */

#membership-options .card {
    color: black;
    background-color: white;
    border-color: #ffc000;
    border-style: solid;
    border-width: thin;
}

#membership-options .card .card-header h4 {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 700;
}

#membership-options .card-body .card-title {
    text-align: center;
    margin-bottom: 20px;
}

#membership-options .card-body ul {
    list-style-type: none;
}

/* ----------------------------------------Footer */

#footer-details {
    background-color: #343a40;
    color: #fff;
    font-size: 12px;
}

#footer-details h5 {
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 20px;
} 

#copyright-info p {
    margin-bottom: 0;
    padding-bottom: 3px;
    font-size: 10px;
} 

/* ToDo:
style icons */