/* ----------------------------------------General */
body {
    font-family: 'Open Sans', sans-serif;
}

#about-info, #gym-offers, #membership-options, #sign-up-form  {
    background-color:#ECECEC;
    margin-bottom: 0;
}

/* borrowed the divider from this site https://blog.avada.io/css/dividers/ and customized it */

.divider-fg {
  height: 2px;
  width: 40%;
  background: linear-gradient(90deg, hsl(0, 0%, 92%), hsl(0, 0%, 42%), hsl(0, 0%, 92%));
}

.divider-bg {
  padding: 70px 0 20px 0;
  display: flex;
  justify-content: center;
  background: #ECECEC;
}

.section-header {
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    margin-bottom: 0;
    padding: 50px 0 50px 0;
}


/* ----------------------------------------Header */

.navbar .navbar-nav .nav-link {
    text-transform: uppercase;
    color: #ca9903;
}

.navbar .navbar-toggler {
    border-color: #ffc000;
}

/* change the toggle icon color with the help of the customized fontawesome icon;
that solution was taken 
from stackoverflow https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color
*/

.navbar .navbar-toggler-icon i{
   color:#ffc000; font-size:28px;
}

.navbar .navbar-nav .nav-item a:hover {
    color: #ffc000;
}

.navbar-brand {
    height:50px;
    width:140px;
}

/* ----------------------------------------Home Page Image */

.jumbotron {
    background: url('../images/home-page-image.jpg') no-repeat  center center;
    background-size: 100% 100%;
    opacity: 0.9;
    height: 100vh;
    color: #fff;
    margin-bottom: 0;
}

/* ----------------------------------------About Us Section */

#about-info p {
    text-align: justify;
    margin: 0;
}

/* ToDo: 
style About Us paragraph */

/* ----------------------------------------Gym Offers Section */

/* ToDo: 
style paragraphs, add timetable/sign up form links to the text */

/* ----------------------------------------Membership Options Section */

#membership-options .card {
    color: black;
    background-color: white;
    border-color: #ffc000;
    border-style: solid;
    border-width: thin;
}

#membership-options .card .card-header h4 {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 700;
}

#membership-options .card-body .card-title {
    text-align: center;
    margin-bottom: 20px;
}

#membership-options .card-body ul {
    list-style-type: none;
}

/* ToDo: add and style paragraph after the title  */

/* ----------------------------------------Sign Up Form */

form {
    padding-bottom: 70px;
}

/* ToDo: style labels, paragraph, text boxes borders, frame around the form?
capitalize options
*/

/* ----------------------------------------Footer */

#footer-details {
    background-color: #343a40;
    color: #F5F5F5;
    font-size: 14px;
}

#footer-details h5 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding-top: 20px;
} 

#social-media i {
    padding: 5%;
    font-size: 230%;
    color: #F5F5F5;
}

#copyright-info p {
    margin-bottom: 0;
    padding: 20px 0 5px 0;
    font-size: 0.75rem;
    font-style: oblique;
    
}

/* ----------------------------------------Timetable Printing */
@media print {
  #timetable .container {
    width: auto;
  }
   .navbar { 
   display: none; 
  }
}